/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typo */

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-top: 40px;
}

.un-terzo-col, .un-terzo-col a {
    font-size: 12px;
}

header .un-terzo-col p {
    line-height: 1.3em;
}

.radio-txt {
    font-size: 11px;
}

.title-tiny-col {
    text-align: center;
}

/* common */

.flex-container {
    display: flex;
}

.btn.btn-primary {
    background-color: #0061FF;
    color: white;
}

.container-large {
    width: 70vw;
    margin: 0 auto;
}

.container-normal {
    width: 60vw;
    margin: 100px auto;
}

.un-terzo-col {
    width: 30%;
}

.due-terzi-col {
    width: 70%;
}

.radio-div {
    margin: 30px 0 20px 0;
}

.tiny-col {
    width: calc(100% / 3 - 20px);
}

/* header */

header {
    background-color: #B4D0E7;
    padding-top: 100px;
}

nav {
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 666;
}

.nav-left a , .nav-right a {
    margin: 0 10px;
}

header ul.flex-container {
    align-items: center;
}

img {
    display: block;
    width: 100%;
}

header li {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding: 5px 10px;
}

.jumbo {
    position: relative;
    bottom: -50px;
}

header .un-terzo-col div:nth-child(2) {
    margin: 40px 0;
}

header .un-terzo-col i {
    margin: 40px 0 0 0;
    font-size: 30px;
}

/* main */

.tre-col-container > .tiny-col {
    border: 1px solid black;
}

/* footer */