/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typo */

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-top: 40px;
    font-size: 77px;
}

header .un-terzo-col p {
    line-height: 1.3em;
}

.radio-txt, .tiny-col {
    font-size: 14px;
}

.tiny-col h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.prezzo {
    margin-bottom: 10px;
}

.title-tiny-col {
    text-align: center;
}

/* common */

.scecond-part-tiny-col {
    margin-top: 40px;
}

li {
    list-style-type: none;
}

.flex-container {
    display: flex;
}

.btn.btn-primary {
    background-color: #0061FF;
    color: white;
}

.container-large {
    max-width: 1200px;
    margin: 0 auto;
}

.container-normal {
    max-width: 1080px;
    margin: 100px auto;
}

.un-terzo-col {
    width: 40%;
}

.due-terzi-col {
    width: 60%;
}

.radio-div {
    margin: 150px 0 60px;
}

.radio-div h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

.radio-div span {
    margin-right: 40px;
}

.tiny-col {
    width: calc(100% / 3 - 40px);
}

.tiny-col > * {
    padding: 20px;
}

.title-tiny-col {
    border-bottom: 1px solid black;
    padding: 10px 0;
}

/* header */

header {
    background-color: #B4D0E7;
    padding-top: 100px;
}

.jumbo .un-terzo-col {
    width: 30%;
    position: relative;
}

.jumbo .due-terzi-col {
    width: 70%;
}

nav {
    background-color: #FFFFFF;
    justify-content: space-between;
    height: 80px;
    padding-left: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 666;
    box-shadow: 0 0 5px 0 #000000;
}

nav li:hover {
    border-bottom: 2px solid black;
}

.nav-left a , .nav-right a {
    margin: 0 10px;
}

header ul.flex-container {
    height: 80px;
}

nav li:not(.logo) {
    line-height: 80px;
}

.logo {
    line-height: 28px;
}

img {
    display: block;
    width: 100%;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 5px 10px;
}

.jumbo {
    position: relative;
    top: 70px;
}

header .un-terzo-col div:nth-child(2) {
    margin: 40px 0;
}

header .un-terzo-col i {
    font-size: 30px;
    position: absolute;
    left: 0;
    bottom: 100px;
}

/* main */

.tiny-col ul {
    margin-top: 40px;
}

.tre-col-container {
    margin: 0 -20px;
    justify-content: center;
    flex-wrap: wrap;
}

main .tiny-col hr {
    width: 20%;
    margin-top: 40px;
}

.tre-col-container .tiny-col {
    margin: 20px;
}

.tre-col-container > .tiny-col.border-black {
    border: 1px solid black;
}

main div.btn.btn-primary {
    padding: 10px 0;
    text-align: center;
    margin: 30px 0 20px;
}

.btn-inherit {
    color: inherit;
    text-decoration: none;
}

.fa-solid.fa-check.blu {
    color: #0061ff;
}

.tiny-col li {
    padding: 10px 0;
}

.tiny-col.wide {
    flex-grow: 1;
    margin-bottom: 100px;
}

.wide-left {
    width: 70%;
}

.wide-right {
    width: 30%;   
}

.div-bottone {
    margin-top: 50px;
}

.btn.btn-bordato {
    padding: 10px 5px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

.section-prima .un-terzo-col {
    padding-left: 80px;
}

div.tiny-col.wide div.flex-container {
    align-items: flex-start;
    gap: 20px;
}

div.tiny-col.wide div.flex-container .wide-left h3 {
    margin-bottom: 20px;
}

div.tiny-col.wide div.flex-container .wide-left div {
    margin-bottom: 40px;
}

.un-terzo-col h2 {
    margin-bottom: 20px;
}

.sei-colonne h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.section-prima {
    margin-bottom: 100px;
}

.partner-div {
    width: 100%;
    height:  calc(100vw / 3);
}

.partner-section {
    flex-wrap: wrap;
    width: calc(100% / 3);
    height: 100%;
}

.partner-vip {
    width: calc(100% / 3);
    height: 100%;
    padding: 30px;
}

.partner-vip img {
    width: 50%;
    margin-bottom: 50px;
}

.partner-vip div {
    margin-top: 40px;
}

.partner-vip hr {
    width: 20%;
    margin: 40px 0 30px 0
}

.partner-square {
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.partner-square img {
    width: 50%;
    filter: invert(1);
}

.partner-square#designit {
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}

.partner-square#asu {
    background-color: #61082B;
}

.partner-square#uf {
    background-color: #0093CE;
}

.partner-square#planet {
    background-color: #0D2481;
}

.partner-square#cchannel {
    background-color: #FFD830;
}

.partner-vip {
    background-color: #F5F5F5;
    overflow: auto;
}

.partner-square.red-bg {
background-color: red;
}

.partner-square#hearst {
    background-color: #B4D0E7;
}

#under-partner {
    background-color: #B4D0E7;
    width: 100%;
    padding: 100px 0;
}

#under-partner .flex-container.container-normal {
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
    color: #61082B;
}

#under-partner .flex-container.container-normal h2 {
    width: 50%;
    font-size: 40px;
}

.btn.btn-secondary {
    background-color: white;
    padding: 5px 20px;
}

#under-partner a {
    text-decoration: none;
    color: black;
}

.qna .flex-container {
    padding: 40px 0;
}

.qna .flex-container .qna-left {
    width: 90%;
}

.qna-left p, .qna i.fa-chevron-up,
.qna .flex-container:hover i.fa-chevron-down {
    display: none;
}

.qna .flex-container:hover p {
    margin-top: 15px;
}

.qna .flex-container:hover p,
.qna .flex-container:hover i.fa-chevron-up {
    display: block;
}

.sei-colonne {
    margin: 0 -10px;
}

.qna h2 {
    margin-bottom: 40px;
    font-size: 40px;
}

.scopri-team {
    width: 70%;
}

.scopri-team h2 {
    font-size: 40px;
    margin: 100px 0 30px 0;
}

/* footer */

footer {
    background-color: black;
    color: white;
    padding: 20px 0;
}

.col-footer {
    width: calc(100% / 5);
    padding: 50px 0;
}

.col-footer h3 {
    margin: 20px 0;
    font-size: 23px;
}

.col-footer li {
    margin: 15px 0;
}

footer .container-large {
    margin-bottom: 0;
    justify-content: space-between;
    gap: 40px;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer .container-large hr {
    width: 15%;
    margin: 40px 0 30px 0;
}

footer .container-large span {
    margin-top: 20px;
    display: block;
    font-size: 14px;
}